/******************
Seletor universal */

/*
* {
  border: 1px solid blue;
}
*/

/*
body {
  color: red;
  border: 1px solid blue;
  background: gray;
}*/

/******************
Heranca e especificidade */

/* #pagina p {
  color: red !important;
} */

/* #pagina p {
  color: blue;
} */


* {
  color: red;
}


h2 {
  color: blue;
}