/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}
/*Colocar uma cor de fundo na página e uma formatação de fonte padrão*/
body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background: #e6e6e6;
}

/*
**** Layout ****
*/
#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    /*largura(fixa) da div*/
    width: 920px;
    /*centralizar o conteúdo da div rem relação
        à pagina*/
    margin: 0 auto; 
}

#area-postagens, #area-lateral {
    background: orange;
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

/*
**** Formatação do menu ****
*/
a {
    text-decoration: none;
    padding: 8px 12px;
}

a:link, a:visited {
    color: #FFF;
}

a:hover {
    color: #f7b600;
    background: #FFF;
}

/*
**** Formatações em geral ****
*/
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color:white;
}